body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: blue;
    color: white;
    padding: 20px;
}

header h1 {
    margin: 0;
}

header p {
    margin-top: 10px;
}

.service-info {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 10px black;
}

.service-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.service-info p {
    font-size: 16px;
    margin-bottom: 20px;
}

.service-info h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.service-info ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.service-info li {
    font-size: 16px;
    margin-bottom: 5px;
}

.service-info a {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.service-info:nth-child(odd) {
    background-color: blue;
    color: white;
}

.service-info:nth-child(even) {
    background-color: red;
    color: #white;
}

.contact {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 10px black;
}
